body{
  background-color: white;
}

.carousel {
    position: relative;
    margin: auto;
    width: 70%;
  }
  
  .carousel-caption {
    position: absolute;
    background: rgba(0,0,0,0.4);
    padding: 15px 10px;
    border-radius: 50px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }

  #descripcion_campeonato{
      color: rgb(206, 185, 185);
      font-family: Comic Sans MS;
      font-size: 17px;
      text-align: center;
  }

#img_campeones{
      border: solid 5px rgba(255, 255, 255, 0.911);
  }

 .titulo-campeon{
  font-family: Candara;
  color: rgb(255, 255, 255) !important;
  text-align: center !important;
  }